.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
**/.terraform/*
*.tfstate
*.tfstate.*
.vscode
#.pem /////////// para nao compartilhar a chave da minha aws (como o repo ta privado nao precisa)